<app-navbar></app-navbar>
<div class="container">
    <router-outlet> </router-outlet>
</div>
<footer class="container text-muted mt-4">
    <div class="pull-left">
        <a href="https://github.com/ThomasChuDesigns" class="mx-2"><i class="fa fa-2x fa-github"></i></a>
        <a href="https://dribbble.com/thomaschudesigns" class="mx-2"><i class="fa fa-2x fa-dribbble"></i></a>
        <a href="https://twitter.com/itsthomaschu" class="mx-2"><i class="fa fa-2x fa-twitter"></i></a>
    </div>
    <div class="pull-right">
        Bookstore by Thomas Chu
    </div>
</footer>

