<div class="landing-page">
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-4 d-flex align-items-center justify-content-center">
                <i class="fa fa-book fa-5x"></i>
              </div>
              <div class="col-8">
                  <h1 class="display-3">Bookstore</h1>
                  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit repudiandae, provident ex impedit error iusto doloribus, nemo porro laboriosam minima ipsum praesentium optio dolorem expedita, eaque in vitae dicta excepturi.</p>
                  <hr class="my-4">
                  <p>Register to sell your books or browse anonymously and buy books for your studies!</p>
                  <p class="lead">
                    <a class="btn btn-primary" href="#" role="button" routerLink="/books">Get Started</a>
                  </p>
              </div>
            </div>
      </div>
    </div>
</div>